$black: #000000;
$white: #ffffff;
$dark: #060405;

$accent: #85bef7;

$light: #cfe1f7;
$grey: #e7f2f5;
$med-grey: #777777;
$tr: all 0.3s ease-in-out;

$font: "Roboto", sans-serif;

$mobile: 767px;
$tablet: 1023px;
$header: 60px;
$footer: 100px;

$roboto: "Roboto", sans-serif;
$mono: "DM Mono", monospace;

@mixin wrapper() {
	max-width: 1480px;
	width: 100%;
	margin: 0 auto;
	padding: 0 40px;

	@media (max-width: $mobile) {
		padding: 0 20px;
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-family: $roboto;
}
body {
	margin: 0;
	font-size: 16px;
	line-height: 130%;
	overflow-x: hidden;
	min-width: 320px;

	@media (max-width: $tablet) {
		font-size: 15px;
	}
}
p {
	margin: 0;
	font-family: $mono;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: darken($accent, 50%);
}
h1 {
	color: $accent;
}
img {
	display: block;
	width: 100%;
	height: auto;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
a {
	transition: $tr;
	color: inherit;
	text-decoration: none;
	font-family: $mono;
	font-size: inherit;
}
.card {
	padding: 20px;
	border-radius: 6px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
	background-color: white;
}

button,
.button {
	padding: 10px 20px;
	color: $white;
	background-color: $accent;
	border: none;
	border-radius: 4px;
	text-decoration: none;
	font-family: $mono;
	cursor: pointer;
	transition: $tr;
	display: flex;
	align-items: center;
	justify-content: center;

	&:hover {
		background-color: darken($accent, 10%);
	}

	&:active {
		background-color: darken($accent, 20%);
	}

	&--pale {
		color: $accent;
		border: 2px solid $accent;
		background-color: transparent;
		&:hover {
			background-color: darken($accent, 10%);
			border-color: darken($accent, 10%);
			color: $white;
		}

		&:active {
			background-color: darken($accent, 20%);
			border-color: darken($accent, 20%);
		}
	}
}

.list__item {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	height: 100%;
	transition: $tr;
	text-align: center;

	& img {
		object-fit: cover;
		object-position: center;
		height: 100%;
	}

	@media (max-width: $mobile) {
		font-size: 14px;
		min-height: 200px;
	}
}

.list__info {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 20px;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 30px;
	justify-content: center;
	align-items: center;
	color: $white;
	transition: all 1s ease-in-out;
	background-color: rgba(0, 0, 0, 0.7);

	.list__item:hover & {
		animation: shade 0.5s linear forwards;
	}

	@media (max-width: $mobile) {
		gap: 10px;
	}
}

.list__link {
	color: $white;
	padding: 5px 15px;
	display: none;
	position: relative;

	&::after {
		position: absolute;
		content: "";
		width: 10px;
		height: 1px;
		background-color: $accent;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		transition: $tr;
	}

	&:hover::after {
		width: 80%;
	}

	&:active::after {
		background-color: darken($accent, 10%);
	}

	.list__item:hover & {
		display: block;
	}
}

@keyframes shade {
	0% {
		height: 0;
	}
	100% {
		height: 100%;
	}
}
